# IMPORTANT!! Keep all your secrets (passwords, API-keys, etc) in .env file. You can copy .env.example to .env and fill in the values.

# ВАЖНО!! Храните все свои секреты (пароли, API-ключи и т.п.) в файле .env. Вы можете скопировать .env.example в .env и заполнить значения.